@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
:root {
  --primary-color: hsl(31, 77%, 52%);
  --secondary-color: hsl(184, 100%, 22%);
  --accent-color: hsl(179, 100%, 13%);
  --paragraph-color: hsla(0, 0%, 100%, 0.75);
  --heading-color: hsl(0, 0%, 95%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--heading-color);
  font-family: "Lexend Deca", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}
h1 {
  font-family: "Big Shoulders Display", cursive, Arial, Helvetica, sans-serif;
  color: var(--heading-color);
  font-weight: 700;
}
p {
  color: var(--paragraph-color);
  font-weight: 400;
}

/* Buttons */
.btn {
  padding: 1.5rem 4rem;
  border: 0;
  border-radius: 7rem;
  background-color: var(--heading-color);
  cursor: pointer;
}
.btn--primary {
  color: var(--primary-color);
}
.btn--secondary {
  color: var(--secondary-color);
}
.btn--accent {
  color: var(--accent-color);
}

.btn--primary:hover {
  border: 2px solid var(--heading-color);
  color: var(--heading-color);
  background: var(--primary-color);
}
.btn--secondary:hover {
  border: 2px solid var(--heading-color);
  color: var(--heading-color);
  background: var(--secondary-color);
}
.btn--accent:hover {
  border: 2px solid var(--heading-color);
  color: var(--heading-color);
  background: var(--accent-color);
}

/* section grid */
.container {
  height: 150rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container--main .card--one,
.container--main .card--two,
.container--main .card--three {
  width: 25rem;
  padding: 4rem;
}
.container--main .card--one {
  background: var(--primary-color);
}
.container--main .card--two {
  background: var(--secondary-color);
}
.container--main .card--three {
  background: var(--accent-color);
}
.card--one {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card--three {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.description .btn {
  margin: 4rem 0 3rem 0;
}
@media screen and (min-width: 768px) {
  .container {
    height: 100vh;
  }
  .container--main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85rem;
    height: 50rem;
    border-radius: 5px;
    background: var(--heading-color);
    box-shadow: 0 0 30px 10px rgba(25, 25, 55, 0.2);
    transition: all 0.3s ease;
  }
  .container--main .card--one {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
  }
  .container--main .card--three {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0;
  }
}
